@import "compass/css3";

// component
$component-border-color: #ddd;
$component-height: 465px;

// tabs
$tab-color: #000;
$tab-bgColor: #ececec;
$tab-active-color: #fff;
$tab-active-bgColor: #274b6b;
$tab-hover-color: #000;
$tab-hover-bgColor: #d4e9f2;

// vertical tab orientation
$navigation-vertical-bgColor: #fafafa;
$navigation-vertical-width: 180px;
$navigation-vertical-arrow-width-x: 10px;
$navigation-vertical-arrow-width-y: 5px;
$panel-vertical-width: 740px;

// horizontal tab orientation
$navigation-horizontal-bgColor: #fff;
$navigation-horizontal-height: 36px;
$navigation-horizontal-align: center;
$navigation-horizontal-tab-width: 233px;
$navigation-horizontal-arrow-align: 45%;
$navigation-horizontal-arrow-width-x: 10px;
$navigation-horizontal-arrow-width-y: 5px;

// for 'pinned' panel if enabled
$pinned-panel-left-total-width: 910px;
$pinned-panel-left-intro-width: 225px;
$pinned-panel-top-height: 150px;

.contentTabs {
  border: 1px solid $component-border-color;
  margin: 0 0 25px;
  overflow: hidden;
  position: relative;

  // navigation
  .contentTabsNav {
    background-color: $navigation-vertical-bgColor;
    height: 36px;
    position: relative;
    margin-top:-20px;

    ul {
      background-color: $navigation-horizontal-bgColor;
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;
    }

    li {

      a {
        color: $tab-color !important;
        background-color: $tab-bgColor !important;
        display: block;
        text-transform: uppercase;
        padding:8px 10px;
        max-height: 36px;
        font-family: arial;
        font-size:10px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: $tab-hover-color !important;
          background-color: $tab-hover-bgColor !important;
          text-decoration: none !important;
        }

      }

      &.active a {
        color: $tab-active-color !important;
        background-color: $tab-active-bgColor !important;
        border-bottom: none;
        position: relative;
      }

    }

  }

  // the triangle/notch/pointer/arrow that's inside/outside the tabs
  .arrow {
    content: '';
    position: absolute;
    display: block;
    height: 0;
    width: 0;
  }

  .verticalNavigationArrow {
    @extend .arrow;
    top: 0;
    border-top: $navigation-vertical-arrow-width-y solid transparent;
    border-bottom: $navigation-vertical-arrow-width-y solid transparent;
  }

  .horizontalNavigationArrow {
    @extend .arrow;
    left: $navigation-horizontal-arrow-align;
    border-left: $navigation-horizontal-arrow-width-x solid transparent;
    border-right: $navigation-horizontal-arrow-width-x solid transparent;
  }

  .verticalNavigation {
    width: $navigation-vertical-width;
    height: $component-height;

    li {
      border-bottom: 1px solid $component-border-color;
    }

  }

  &.tabsVerticalLeft {

    .contentTabsNav {
      @extend .verticalNavigation;
      float: left;
      border-right: 1px solid $component-border-color;

      li.active a:after {
        @extend .verticalNavigationArrow;
        right: -$navigation-vertical-arrow-width-x;
        border-left: $navigation-vertical-arrow-width-x solid $tab-active-bgColor;
      }

    }

    .contentTabsPanelCollection {
      float: right;
      width: $panel-vertical-width;
    }

  }

  &.tabsVerticalRight {

    .contentTabsNav {
      @extend .verticalNavigation;
      float: right;
      border-left: 1px solid $component-border-color;

      li.active a:before {
        @extend .verticalNavigationArrow;
        left: -$navigation-vertical-arrow-width-x;
        border-right: $navigation-vertical-arrow-width-x solid $tab-active-bgColor;
      }

    }

    .contentTabsPanelCollection {
      float: left;
      width: $panel-vertical-width;
    }

  }

  .horizontalNavigation {

    ul {
      margin-bottom: 20px !important;
      text-align: $navigation-horizontal-align;
    }

    li {
      display: inline-block;
      border-left: 1px solid #fff;
      border-bottom: none;
      width: $navigation-horizontal-tab-width;
      float: left;

      &:first-child {
        border-left: 0;
        width: $navigation-horizontal-tab-width + 1px;
      }

    }

  }

  &.tabsHorizontalTop {

    .contentTabsNav {

      @extend .horizontalNavigation;

      ul {
        /*border-bottom: 1px solid $component-border-color;*/
      }

      li.active a:after {
        @extend .horizontalNavigationArrow;
        border-bottom: $navigation-horizontal-arrow-width-x solid #fff;
        top: 29px;
      }

    }

  }

  &.tabsHorizontalBottom {

    .contentTabsNav {

      @extend .horizontalNavigation;

      position: relative;
      top: $component-height + 20;

      ul {
        border-top: 1px solid $component-border-color;
      }

      li.active a:before {
        @extend .horizontalNavigationArrow;
        border-bottom: $navigation-horizontal-arrow-width-y solid $tab-active-bgColor;
        top: -10px;
      }

    }

    .contentTabsPanelCollection {
      margin-top: -$navigation-horizontal-height;
      margin-bottom: $navigation-horizontal-height;
    }

  }

  // option for disabling any tab navigation
  &.tabsNone .contentTabsNav {
    display: none;
  }

  // panels
  .contentTabsPanel {
    display: none;
    color: #4c4d4f;
    /*height: $component-height - 60;*/
    overflow-y: scroll;
    overflow-x: hidden;

    // always display the first panel
    &:first-child {
      display: block;
    }

    p {
      font-family: arial;
      font-size: 14px;
      margin: 0 0 10px !important;
    }

    h3 {
      font-size: 14px !important;
      margin: 0 0 5px !important;
    }

    h5{
      float: right;
      margin: 0px 0 -13px !important;
      position: relative;
      right: 10px !important;
      top: 12px !important;
      z-index: 10;
    }

    .contentTabsPanelIntroGraphic {
      border: 1px solid #ccc !important;
      float: right;
      margin: 0 0 10px 10px;
    }

  }

  &.pinnedPanelTop {

    .contentTabsPanel {
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .contentTabsPanelContent {
      height: $component-height - $pinned-panel-top-height - 20;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .contentTabsPanelIntro {
      height: $pinned-panel-top-height;
      padding: 0 0 10px;
      margin: 0 0 15px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
    }

  }

  &.pinnedPanelLeft {

    .contentTabsPanel {
      /*padding: 0 10px 10px;*/
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .contentTabsPanelContent {
      float: right;
      width: $pinned-panel-left-total-width - $pinned-panel-left-intro-width - 30;
      height: $component-height - 40;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 25px;
    }

    .contentTabsPanelIntro {
      float: left;
      width: $pinned-panel-left-intro-width;
      height: $component-height - 60;
      overflow: hidden;
      padding: 10px 0 0 10px;

      img{margin-bottom:6px;}

    }

    .oneColList, .twoColGrid {
      clear: none;
    }

  }

}

/* may or may not be used */
.contentTabsCaption {
  font-size: 26px;
  margin: 0 0 5px !important;
}

/* copy these along with content tabs since they're used in the panel views */
.mediaBlock, .mediaBlockContent { overflow: hidden; _overflow: visible; zoom: 1; }
.mediaBlock img { float: left; margin-right: 10px; display: block; }
.oneColList, .twoColGrid { clear: both; }
.oneColList > ul, .twoColGrid > ul { clear: both; margin: 0 !important; padding: 0 !important; list-style: none; overflow: hidden; }
.twoColGrid ul > li { clear: left; border-top: 1px solid #ddd; overflow: hidden; }
.oneColList ul > li:first-child, .twoColGrid ul > li:first-child { border: none; margin-top: 0; }
.twoColGrid .gridItem { width: 46%; float: left; margin: 15px 10px; }
.twoColGrid .gridItem:first-child { border-right: 1px solid #ddd; padding-right: 10px; }
.twoColGrid .gridItem p { margin: 10px 0 0 !important; line-height: 1.1 !important; }
.twoColGrid .mediaBlockImage { width: 80px; height: 100px; }
#micrositeContent .oneColList { 
  margin: 0;
  
  .mediaBlockContent{
    h4{
      color:#274b6b;
      font-size: 14px;
      a{
        color:#274b6b;
        font-size: 14px;
        line-height: 1.3;
        text-decoration: none;
      }

      &:hover{color:#2795b6 !important;text-decoration: none;}
    }

    p{
      a{color:#274b6b;
        font-size: 14px;
        
        &:hover{color:#2795b6;text-decoration: none;}
      }
    }
  }
}
.oneColList li { border-top: 1px solid #ddd; margin: 0; padding: 15px 0 0; }
.oneColList h4 { color:#274b6b; font-size: 14px; margin: 0 0 5px !important; }
.oneColList p { margin: 0 0 5px !important; }
