extends layoutEmbedded

block content
  #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            h2 Microsite Name
          #micrositeContent
            #micrositeContentColumnFull
              .introText
                h3 Accelerated testing. Quality results.
                p Service virtualization helps to address all these issues and more. Create understandable, virtualized services, applications or entire systems without relying on teams of developers for coding.
              include featuredVideo
              .additionalResources
                h2 Additional Resources
                include contentTabs
          #micrositeFooter
            h2 Footer